.back-top-container {
  padding: 0 10px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #425AEF;
  border-radius: 40px;
  transition: 0.3s;
  font-size: 12px;
  color: #fff;
  white-space: nowrap;
}
